$dark-blue: #002A3D;
$light-blue: #E9F4F6;
$orange: #FDEBD3;

@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$font__title: 'Martel', serif;
$font__text: 'Open Sans', sans-serif;

$font__body: 1.125rem;; //18
$font__heading: 2.44444444rem; //44
$font__two: 1.94444444rem; //35
$font__three: 1.55555556rem; //28
$font__four: 1.22222222rem; //22
$font__small: 0.77777778rem; //14



/* mixins */
@mixin text-article {
  a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    padding: .2em;
    :hover {
      color: rgba($color: black, $alpha: 0.9);
    }
  }
  b,
  strong {
    font-weight: 700;
  }
  em,
  i {
    font-style: italic;
  }
  ul {
    margin-bottom: 0.66666667em;
    li {
      margin-bottom: 0.33333333em;
      &::before {
        content: '•';
        margin-right: 0.6666667em;
      }
      margin-left: 1em;
    }
  }
  ol {
    margin-bottom: 0.66666667em;
    counter-reset: section;

    li {
      margin-bottom: 0.33333333em;
      counter-increment: step-counter;
      &::before {
        content: counter(step-counter);
        font-weight: 700;
        margin-right: 0.6666667em;
      }
      padding-left: 1em;
    }
  }
  blockquote {
    width: 90%;
    margin: 0 auto;
    font-style: italic;
    p {
      &::before {
        content: '« ';
      }
      &::after {
        content: ' »';
      }
    }
  }
}
@mixin screen-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
@mixin button($dark-theme:$dark-blue, $light-theme:$light-blue) {
  padding: .5em 1em;
  text-decoration: none;
  background-color: $light-theme;
  color: $dark-theme;
  font-weight: bold;
  border: $dark-theme 2px solid;
  border-radius: 20px;
  text-align: center;
}
@mixin link {
  font-weight: normal;
  link:hover {
    font-weight: bold;
    text-decoration: $dark-blue;
  }
}
@mixin title($font-title : $font__heading) {
  font-size: $font-title;
  font-family: $font__title;
  font-weight: bold;
}
@mixin text($font-text : $font__body) {
  font-size: $font-text;
  font-family: $font__text;
  line-height: 1.5em;
}

.button {
  @include button;
}
.button-news {
  @include button($dark-theme:$light-blue, $light-theme:$dark-blue);
}
* {
  @include text-article;
}
.menu__link {
  @include link;
}
body {
  @include text()
}
h2 {
  @include title($font-title : $font__two)
}
h3 {
  @include title($font-title : $font__three)
}
h4 {
  @include title($font-title : $font__four)
}



body {
  background-color: $light-blue;
  color: $dark-blue;
  //display: grid;
  //grid-template-columns: 1fr 80vw 1fr;
  font-size: 18px;
  //overflow-x: hidden;

}
/*body:before {
  content: "aze";
  background-color: $light-blue;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}*/
header, footer {
  background-color: white;
  grid-column: 1/4;

}
img {
  max-width: 100%;
  height: auto;
  object-fit:cover;
}
main{
  grid-column: 2/3;
}
input, textarea {
  padding: .5em 1em;
  color: $dark-blue;
  font-weight: bold;
  border: $dark-blue 1px solid;
  border-radius: 10px;
}

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 425px) {
  body {
    font-size: 14px;
    grid-template-columns: 1fr 90vw 1fr
  }
  h2 {
    font-size: 1.125rem; //18
  }
  h3 {
    font-size: 1.14285714rem; //16
  }

}
